.locationInfo {
    display: grid;
    gap: 0.9em;
    text-align: center;
    width: 70%;
    min-width: 400px;
    max-width: 600px;
    background-color: #1d2124;
    padding: 0.3em 1em 0.8em 0;
    border-radius: 1em;
    box-shadow: 0px 1px 1px 1px black;
}

.locationInfo h2 {
    font-size: 1.5rem;
    color: #49ae24;
}
.locationInfo ul li span{
    color:aliceblue;
    font-size: 1.1rem;
    line-height: 1.5em;
}
.locationInfo ul li {
    list-style: none;
    color: #adacacee;
    font-weight: 600;
    font-size: 0.7rem;
    width: 100px;
}

.locationInfo__info {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .locationInfo {
        gap: 0.6em;
        min-width: 330px;
        max-width: 300px;
        background-color: #1d2124;
        padding: 0.2em 0.5em 0.9em 0;
    }
    .locationInfo h2 {
    font-size: 1.2rem;
    }
    .locationInfo ul li span{
    font-size: 1rem;
    }
    .locationInfo ul li {
    font-size: 0.7rem;
    }
}